body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #EEF;
	/*padding: 0px;*/
	margin: 0px;
}
.header{
	text-align: center;
	width: 100%;
	background-color: #358CCE;
	margin: 0;
	padding: 0;
	display: block;
	position: fixed;
	top: 0%;
	left: 0%;
}
.header h2{
	margin:0 auto;
	padding: 15px;
	color: #FFF;
}
.footer{
	position: fixed;
	left: 0%;
	width: 100%;
	bottom: 0%;
	padding: 8px;
	text-align: center;
	background-color: #358CCE;
}

.footer > .footnote {
	color: #FFF;
	text-decoration: none;
}

.footer > .footnote a{
	color: #FFF;
	text-decoration: none;
}

.view{
	padding-top: 3.5em;
	padding-bottom: 2em;
	background-color: #EEF;
	width: 100%;
	margin:0;
}

.invisible-table{
	display: none;
}

form{
	margin: auto;
	width: 90%;
	max-width: 600px;
	text-align: center;
}

form .input-title{
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 1em;
}

input[type="text"]{
	padding: 10px;
	width: 100%;
	font-size: 1em;
	border-radius: 2px;
	border-width: 1px;
	border-style: none;
}

input[type="submit"]{
	margin-top: 20px;
	padding: 10px;
	width: 50%;
	background-color: #222;
	color: #FFF;
	border: 0;
	border-radius: 2px;
}

img{
	margin-left: 10px;
}

.list{
	text-decoration: none;
	color: #55F;
	margin-left: 10px;
}

.file-folder0{
	width: 100%;
	height: 2em;
	background-color: #DDF;
}

.file-folder0{
	width: 100%;
	height: 2em;
}

.view{
	margin-left: 0%;
}

.info{
	background-color: rgba(0,0,0,0.1);
	width: 95%;
	text-align: center;
	font-family: courier;
	max-width: 900px;
	margin: auto;
	padding: 10px;
	display: none;
}

.info ul{
	text-align: left;
}

.info ul li{
	padding-top: 10px;
}